.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  user-select: none;
  .pages {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .page {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;
    cursor: pointer;
    &.active {
        background-color: dodgerblue;
      }
    }
  }
  .button {
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
